{port_specs, [{"priv/libsecp256k1_nif.so",["c_src/libsecp256k1_nif.c"]}]}.

{port_env, [{"DRV_CFLAGS",  "$DRV_CFLAGS -I c_src/secp256k1 -I c_src/secp256k1/src"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/secp256k1/.libs/libsecp256k1.a -lgmp"},
            {"(linux|freebsd|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"}]}.

{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.
{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.

{erl_opts, [debug_info, fail_on_warning]}.
